body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    padding: 20px;
}

.rooms {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.room {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    width: 30%;
    border-radius: 5px;
}

.room h2 {
    margin-bottom: 10px;
}

.seats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seat {
    width: 50px;
    height: auto;
}

#barber-img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#incoming-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 18px;
    color: #555;
}
